@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none;
    list-style: none;
}
body{
    font-family: "Poppins", sans-serif;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.header{
    background-image:linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(../img/fondo5.jpg);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 70vh;
        display: flex;
        align-items: center

}
.menu_container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
    justify-content:right;
}

.menu_container .nvarmenu ul li{
    position: relative;
    float: left;
}
.menu_container .nvarmenu ul li a{
    font-size: 18px;
    padding: 20px;
    color: #FFFDFC;
    display: block;
    font-weight: 600;
}
.menu_container .nvarmenu ul li a:hover{
    color: brown;
}    

.header-container{
    text-align: center;
}
.header-container img{
    width: 10%;
    height: 70%;
}
.header-container h1{
    font-size: 75px;
    line-height: 80px;
    color: #F9FAFC;
    margin-bottom: 35px;
}
.header-container p{
    font-size: 16px;
    color: #C5C5C5;
    padding: 0 250px;
    margin-bottom: 25px;
}
.btn-1{
    display: inline-block;
    padding: 11px 35px;
    background-color: brown;
    color: #F9FAFC;
    text-transform: uppercase;
    
}

h2{
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;

}

p{
    font-size: 16px;
    color: #414247;
    margin: 24px 0 45px 0;
}

/*-------2 seccion-------- */

.blog{
    padding: 100px 0;
    text-align: center;
}
.blog-content{
    display: flex;
    justify-content: space-between;
}
.blog-1{
    padding: 15px 55px;
}
.blog-1 img{
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
}
.blog-1 h3{
    font-size: 25px;
    color: #323337;
}

/*-------3 seccion-------- */
.servicios{
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(../img/fondo6.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover ;
    background-attachment: fixed;
    padding: 130px 0;
}
.contenedor_servicios{
    text-align: center;
}

.contenedor_servicios h2{
    font-size: 55px;
    line-height: 70px;
    color: #F9FAFC;
    margin-bottom: 50px;
    padding: 0 100px;
}
.grupo_de_servicios{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.servicios-1{
    padding: 0 100px;
}
.servicios-1 img{
    width: 25px;
    margin-bottom: 15px;
}
.servicios-1 h3{
    color: #F9FAFC;
    font-size: 18px;

}
/*-------4 seccion-------- */
.entrenadores{
    display: flex;
}
.entrenadores-1{
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #E1E2E6;
}
.entrenadores-2{
    background-image: url(../img/autonomo.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    width: 50%;
}
.entrenadores-3{
    background-image: url(../img/autonomo.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    width: 50%;
}

/*-------4 seccion footer-------- */

.footer-container{
    max-width: 1200px;
    margin: 0 auto;
}
.footer{
    background-color: #24262b;
    padding: 20px 0;
}
.footer-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.footer-row img{
    width: 10%;
    height: 70%;
    
   
}
.footer-links{
    width: 25%;
    padding: 0 15px;
}
.footer-links h3{
    font-size: 20px;
    color: #FFFDFC;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #a93226;
    padding-bottom: 10px;
    display: inline-block;
    
}
.footer-links ul li a{
    font-size: 18px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover{
    color: #FFFFFF;
    padding-left: 6px;
}
.social-links a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color:#FFFFFF ; 
    transition: all .5s ease;
    margin-bottom: 50px;
    
}
.social-links a:hover{
    background-color: #a93226;
}
.ubicacion {
    display: flex;   
}
.ubicacion img{
    width: 10%;
    height: 70%;
   
}
.ubicacion h4{
    width: 10%;
    height: 70%;
   
}